<style>

  .food-section-card__wrapper {
    max-width: 25%;
    padding: 1rem 1rem 2rem 1rem;
  }

  .food-section__block {
    display: flex;
    flex-wrap: wrap;
  }

  .best-sellers-title__container h3 {
    text-align: center;
    font-size: 4rem;
    color: #035966;
  }

  .item-image {
    display: flex;
    padding: 1rem 0;
  }

  .item-image img {
    margin: auto;
    width: 75%;
  }

  .food-section-card__container {
    padding-bottom: 2rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }

  .item-title {
    color: #035966;
    font-weight: bold;
    line-height: 2rem;
  }

  .item-price {
    padding: 1rem 0;
    font-weight: bold;
    border-bottom: 1px solid #B2B2B2;
  }

  .item-image, .item-title, .item-price {
    margin: auto;
    width: 90%;
  }

  .item-features {
    padding-left: 32px;
    padding-right: 10px;
  }

  .best-sellers-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 3.5rem;
    text-decoration: none;
    color: white;
    background: #035966;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 15px;
  }

  .food-junior, .food-adult {
    display: none;
  }
  
</style>


{% assign collection = collections[section.settings.collection] %}

<div class="food-section__wrapper {{ collection.handle }}" >

  <div class="food-section__block page-width">
    {% for product in collections[section.settings.collection].products %}
    <div class="food-section-card__wrapper">
      <div class="food-section-card__container">
        <div class="item-image"><img loading="lazy" src="{{ product | image_url: image_size }}" alt=""></div>
        <div class="item-title">{{ product.title }}</div>
        <div class="item-price">from {{ product.price | money }}</div>
  
          <ul class="item-features">
            <li>{{ section.settings.feature_1 }}</li>
            <li>{{ section.settings.feature_2 }}</li>
            <li>{{ section.settings.feature_3 }}</li>
            <li>{{ section.settings.feature_4 }}</li>
            <li>{{ section.settings.feature_5 }}</li>
            <li>{{ section.settings.feature_6 }}</li>
          </ul>

          <a class="best-sellers-button" href="{{ product.url }}">{{ section.settings.button_text }}</a>

      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Food Select",
    "settings": [{
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
			"type": "text",
			"id": "button_text",
			"label": "Button Text"
		},
    {
      "type": "text",
      "id": "feature_1",
      "label": "Item Feature_1"
    },
    {
      "type": "text",
      "id": "feature_2",
      "label": "Item Feature_2"
    },
    {
      "type": "text",
      "id": "feature_3",
      "label": "Item Feature_3"
    },
    {
      "type": "text",
      "id": "feature_4",
      "label": "Item Feature_4"
    },
    {
      "type": "text",
      "id": "feature_5",
      "label": "Item Feature_5"
    },
    {
      "type": "text",
      "id": "feature_6",
      "label": "Item Feature_6"
    }
    ],
    "presets": [{
      "name": "Food Select Section"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
