<style>

  

</style>

<div class="instagram-section__wrapper" style="background-color: {{ section.settings.background_color }};">

  <div class="instagram-text__container page-width">

    <div class="title-and-icons">
      <img class="facebook_icon" loading="lazy" src="{{ section.settings.icon_1 | image_url: image_size }}" alt="facebook_icon">
      <img class="instagram_icon" loading="lazy" src="{{ section.settings.icon_2 | image_url: image_size }}" alt="instagram_icon">
      <h3>{{ section.settings.title_text }}</h3>
    </div>

    <div class="instagram-paragraph__container">
      <p>{{ section.settings.rich_text }}</p>
    </div>

  </div>

  <div class="instagram-block-image__container page-width">
    {% for block in section.blocks %}
    <div class="container-block">
      <img loading="lazy" src="{{ block.settings.image | image_url: image_size }}" alt="{{ block.settings.image.alt }}">
    </div>
    {% endfor %}
  </div>

  <!-- Responsive for Mobile -->

  <div class="text-container__mobile page-width">

    <div class="title-and-icons__mobile">
      <div class="icon-container__mobile">
        <img class="facebook_icon" src="{{ section.settings.icon_1 | image_url: image_size }}" alt="facebook_icon">
        <img class="instagram_icon" src="{{ section.settings.icon_2 | image_url: image_size }}" alt="instagram_icon">
      </div>
      <h3>{{ section.settings.title_text }}</h3>
    </div>

    <div class="instagram-paragraph__container">
      <p>{{ section.settings.rich_text }}</p>
    </div>

  </div>

  <div class="instagram-image-container__mobile page-width">
    {% for block in section.blocks %}
    <div class="container-block__mobile">
      <img src="{{ block.settings.image | image_url: image_size }}" alt="{{ block.settings.image.alt }}">
    </div>
    {% endfor %}
  </div>

</div>

{% schema %}
{
  "name": "Instagram Section",
  "max_blocks": 4,
  "settings": [{
      "type": "color",
      "id": "background_color",
      "label": "Section Color"
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Icon 1"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Icon 2"
    },
    {
      "type": "text",
      "id": "title_text",
      "label": "Section Title"
    },
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Section Paragraph"
    }
  ],
  "blocks": [{
    "name": "Section Block",
    "type": "section",
    "settings": [{
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }]
  }],
  "presets": [{
    "name": "Instagram Section"
  }]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
