<style>

  .instagram-block-image__container {
    display: flex;
    padding-bottom: 4rem;
  }

  .title-and-icons {
    display: flex;
    align-items: center;
    padding-top: 2rem;
  }

  .facebook_icon, .instagram_icon {
    padding-right: 1rem;
    height: 32px;
  }

  .title-and-icons h3 {
    margin: 0;
    font-size: 3rem;
    color: #035966;
  }

  .instagram-paragraph__container p {
    color: #035966;
  }

  .container-block {
    padding-right: 2rem;
  }

  .container-block img {
    width: 100%;
  }

  .container-block:nth-child(4) {
    padding: 0;
  }

  .instagram-section__wrapper {
    background-color: {{ section.settings.background_color }};
  }

  @media screen and (min-width: 749px) {
    .text-container__mobile, .instagram-image-container__mobile {
      display: none;
    }
  }

  @media screen and (max-width: 748px) {
    .instagram-text__container, .instagram-block-image__container {
      display: none;
    }

    .title-and-icons__mobile {
      padding-top: 2rem;
    }

    .title-and-icons__mobile h3 {
      margin: 0;
      font-size: 3rem;
      color: #035966;
    }

    .instagram-image-container__mobile {
      display: flex;
      padding-bottom: 4rem;
    }

    .container-block__mobile {
      padding-right: 2rem;
    }

    .container-block__mobile img {
      width: 100%;
    }

    .container-block__mobile:nth-child(4) {
      padding: 0;
    }

    .instagram-image-container__mobile .slick-list {
      padding-left: 0 !important;
    }
  }

</style>

<div class="instagram-section__wrapper" style="{{ section.settings.background_color }}">

  <div class="instagram-text__container page-width">

    <div class="title-and-icons">
      <img class="facebook_icon" loading="lazy" src="{{ section.settings.icon_1 | image_url: image_size }}" alt="facebook_icon">
      <img class="instagram_icon" loading="lazy" src="{{ section.settings.icon_2 | image_url: image_size }}" alt="instagram_icon">
      <h3>{{ section.settings.title_text }}</h3>
    </div>

    <div class="instagram-paragraph__container">
      <p>{{ section.settings.rich_text }}</p>
    </div>

  </div>

  <div class="instagram-block-image__container page-width">
    {% for block in section.blocks %}
    <div class="container-block">
      <img loading="lazy" src="{{ block.settings.image | image_url: image_size }}" alt="{{ block.settings.image.alt }}">
    </div>
    {% endfor %}
  </div>

  <!-- Responsive for Mobile -->

  <div class="text-container__mobile page-width">

    <div class="title-and-icons__mobile">
      <div class="icon-container__mobile">
        <img class="facebook_icon" src="{{ section.settings.icon_1 | image_url: image_size }}" alt="facebook_icon">
        <img class="instagram_icon" src="{{ section.settings.icon_2 | image_url: image_size }}" alt="instagram_icon">
      </div>
      <h3>{{ section.settings.title_text }}</h3>
    </div>

    <div class="instagram-paragraph__container">
      <p>{{ section.settings.rich_text }}</p>
    </div>

  </div>

  <div class="instagram-image-container__mobile page-width">
    {% for block in section.blocks %}
    <div class="container-block__mobile">
      <img src="{{ block.settings.image | image_url: image_size }}" alt="{{ block.settings.image.alt }}">
    </div>
    {% endfor %}
  </div>

</div>

{% schema %}
{
  "name": "Instagram Section",
  "max_blocks": 4,
  "settings": [{
      "type": "color",
      "id": "background_color",
      "label": "Section Color"
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Icon 1"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Icon 2"
    },
    {
      "type": "text",
      "id": "title_text",
      "label": "Section Title"
    },
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Section Paragraph"
    }
  ],
  "blocks": [{
    "name": "Section Block",
    "type": "section",
    "settings": [{
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }]
  }],
  "presets": [{
    "name": "Instagram Section"
  }]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
