<style>

.subscription-section {
  display: flex;
}

.subscription-title > h3 {
  font-size: 4rem;
  color: #035966;
}

.subscription-image__container {
  width: 100%;
}

.subscription-image {
  width: 100%;
}

.content-image {
  width: 36px;
  height: 36px;
  margin: auto 10px;
}

.text-wrapper > h3, .text-wrapper > p {
  margin: 0;
  padding: 0;
  color: #035966;
}

.text-wrapper > h3 {
  font-size: 30px;
}

.text-wrapper > p {
  font-size: 20px;
}

.content-text__container {
  display: flex;
}

.subscription-title {
  text-align: center;
}

.content-container__wrapper {
  margin: auto;
  width: 80%;
}

.content-container {
  margin: auto;
  padding: 1rem 0;
  max-width: 50rem;
  border-top: 1px solid #035966;
}

.bottom-border {
  border-bottom: 1px solid #035966;
}


.subscription-section__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px auto 0;
  text-decoration: none;
  color: white;
  max-width: 50rem;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: {{ section.settings.button_color }};
}

@media screen and (max-width: 748px) {
  .subscription-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .subscription-title > h3 {
  font-size: 3rem;
}

}

@media screen and (max-width: 1000px) {
    .text-wrapper > h3 {
    font-size: 20px;
  }

  .text-wrapper > p {
    font-size: 16px;
    
  }

    .content-image {
    width: 30px;
    height: 30px;
  }

  .subscription-section__button {
    font-size: 2rem;
  }
}

</style>

<div class="subscription-section__wrapper page-width">

  <div class="subscription-title">
    <h3>{{ section.settings.title_text }}</h3>
  </div>
  
  <div class="subscription-section">

    <div class="subscription-image__container">
      <img 
      loading="lazy"
      src="{{ section.settings.product_image | image_url }}" alt="" class="subscription-image">
    </div>

    <div class="content-container__wrapper">

      <div class="content-container">
        <div class="content-text__container">
          <img 
          loading="lazy"
          src="{{ section.settings.icon_image | image_url }}" alt="" class="content-image">
          <div class="text-wrapper">
            <h3>{{ section.settings.content_title1 }}</h3>
            <p>{{ section.settings.richtext1 }}</p>
          </div>
        </div>
      </div>

      <div class="content-container">
        <div class="content-text__container">
          <img 
          loading="lazy"
          src="{{ section.settings.icon_image | image_url }}" alt="" class="content-image">
          <div class="text-wrapper">
            <h3>{{ section.settings.content_title2 }}</h3>
            <p>{{ section.settings.richtext2 }}</p>
          </div>
        </div>
      </div>

      <div class="content-container">
        <div class="content-text__container">
          <img 
          loading="lazy"
          src="{{ section.settings.icon_image | image_url }}" alt="" class="content-image">
          <div class="text-wrapper">
            <h3>{{ section.settings.content_title3 }}</h3>
            <p>{{ section.settings.richtext3 }}</p>
          </div>
        </div>
      </div>
  
      <div class="content-container bottom-border">
        <div class="content-text__container">
          <img 
          loading="lazy"
          src="{{ section.settings.icon_image | image_url }}" alt="" class="content-image">
          <div class="text-wrapper">
            <h3>{{ section.settings.content_title4 }}</h3>
            <p>{{ section.settings.richtext4 }}</p>
          </div>
        </div>
      </div>

        <a href="/" class="subscription-section__button">{{ section.settings.button_text }}</a>

    </div>

  </div>

</div>

{% schema %}
{
	"name": "Subscription Section",
	"settings": [{
			"type": "text",
			"id": "title_text",
			"label": "Title Text"
		},
		{
			"type": "image_picker",
			"id": "product_image",
			"label": "Product image"
		},
		{
			"type": "image_picker",
			"id": "icon_image",
			"label": "Icon image"
		},
    {
      "type": "text",
      "id": "button_text",
      "label": "Buttton Text"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "text",
      "id": "content_title1",
      "label": "Content Title_1"
    },
    {
      "type": "richtext",
      "id": "richtext1",
      "label": "Rich Text_1"
    },
    {
      "type": "text",
      "id": "content_title2",
      "label": "Content Title_2"
    },
    {
      "type": "richtext",
      "id": "richtext2",
      "label": "Rich Text_2"
    },
    {
      "type": "text",
      "id": "content_title3",
      "label": "Content Title_3"
    },
    {
      "type": "richtext",
      "id": "richtext3",
      "label": "Rich Text_3"
    },
    {
      "type": "text",
      "id": "content_title4",
      "label": "Content Title_4"
    },
    {
      "type": "richtext",
      "id": "richtext4",
      "label": "Rich Text_4"
    }
	],
	"presets": [{
		"name": "Subscription Section"
	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
